.brand {
  margin: 100px auto 56px;
  width: 226px;
  height: 226px;
  border-radius: 50px;
  background: url('../../asset/img/logo.png') no-repeat center center;
  background-size: contain;
}

.title {
  text-align: center;
  font-size: 38px;
  font-weight: 500;
  margin-bottom: 120px;
}
